/* Change the sidebar color */
[data-testid=stSidebar] {
  background-image: linear-gradient(#000395,#FFD4DD);
}

/* Style hyperlinks */
a {
  display: block; 
  color: #2e9aff !important;
  font-weight: bold;
}

p {
  color: white;
}

/* Customize the input fields */
.stTextInput > div > div > input {
  caret-color: black; /* Cursor color */
  color: black; /* Text color */
  background-color: white; /* Background color */
  border-radius: 4px; /* Rounded corners */
  border: 1px solid #ccc; /* Border color */
}

/* Customize placeholder color */
.stTextInput > div > div > input::placeholder {
  color: black; /* Placeholder text color */
}

/* Style the contact form */
input[type=message], input[type=email], input[type=text], textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical;
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
  background-color: #45a049;
}

/* Hide Streamlit Branding */
#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

/* Design Hyperlink */
a:link, a:visited {
  color: blue;
  text-decoration: underline;
}

a:hover, a:active {
  color: red;
  text-decoration: underline;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #001d6c;
  color: white;
  text-align: center;
}

.response-box {
    background-color: white; /* White background for the response */
    color: black; /* Black text color for readability */
    padding: 10px; /* Padding around the text */
    margin: 10px 0; /* Margin around the box */
    border-radius: 5px; /* Rounded corners for the box */
    border: 1px solid #ccc; /* Light grey border for the box */
}

/* Responsive Design for Mobile Devices */
@media only screen and (max-width: 768px) {
    .stTextInput > div > div > input, input[type=message], input[type=email], input[type=text], textarea {
        width: 100%; /* Full width on smaller screens */
        padding: 8px; /* Smaller padding */
    }

    [data-testid=stSidebar] {
        width: 80%; /* Adjust width of sidebar for mobile view */
    }

    /* Additional mobile adjustments */
}

@media only screen and (max-width: 480px) {
    body {
        background-color: #F5F5F5; /* Set a default background color for better readability */
    }

    /* Further adjustments for smaller screens */
}
